@mixin grid() {
  display: flex;
  flex-wrap: wrap;
  margin-left: -#{$size-grid-gutter * 0.5};
  margin-right: -#{$size-grid-gutter * 0.5};
}

@mixin grid__cell($cols) {
  flex: 0 0 #{$cols * 8.3333333%};
  width: #{$cols * 8.3333333%};
  padding-right: #{$size-grid-gutter * 0.5};
  padding-left: #{$size-grid-gutter * 0.5};
}

@mixin grid__cell--push-left($cols) {
  margin-left: #{$cols * 8.3333333%};
}

@mixin grid__cell--push-right($cols) {
  margin-right: #{$cols * 8.3333333%};
}

@mixin grid__cell--pull-left($cols) {
  margin-left: #{$cols * -8.3333333%};
}

@mixin grid__cell--pull-right($cols) {
  margin-right: #{$cols * -8.3333333%};
}

@mixin grid__cell--full-width-left() {
  flex-grow: 1;
  margin-left: calc(var(--size-bezel-page-left) * -1 + (#{$size-grid-gutter} * 0.5));
  padding-left: 0;
}

@mixin grid__cell--full-width-right() {
  flex-grow: 1;
  margin-right: calc(var(--size-bezel-page-right) * -1 + (#{$size-grid-gutter} * 0.5));
  padding-right: 0;
}

@mixin grid__cell--full-width-left-reset() {
  flex-grow: 0;
  margin-left: 0;
  padding-right: #{$size-grid-gutter * 0.5};
  padding-left: #{$size-grid-gutter * 0.5};
}

@mixin grid__cell--full-width-right-reset() {
  flex-grow: 0;
  margin-left: 0;
  padding-right: #{$size-grid-gutter * 0.5};
  padding-left: #{$size-grid-gutter * 0.5};
}
