$font-family-primary: 'Helvetica', 'Arial', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-size-text: 1.6rem;

$color-primary: #006FE7;
$color-primary-dark: #0A61AA;
$color-secondary: #00E7C7;
$color-secondary-dark: #00AA96;
$color-danger: #FF7E7E;
$color-shade: #F3F3F3;
$color-dark: #090909;
$color-light: #FFFFFF;

$size-grid-gutter: 1.6rem;
