$font-family-primary: 'Inter', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-size-text: 2rem;

$color-primary: #000000;
$color-secondary: #E03065;
$color-danger: #FF7E7E;
$color-shade: #F4F4F4;
$color-dark: #000000;
$color-light: #FFFFFF;

$size-grid-gutter: 1.6rem;
