html {
  font-family: $font-family-primary;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: $font-size-text;
  line-height: 1.7;
  background-color: $color-shade;
}

p {
  margin-top: 4.8rem;
}

a {
  color: $color-primary;
  text-decoration: underline;
}

a:hover {
  color: $color-secondary;
}
